<!-- 导航头部 -->
<%- include ../include/header.html %>



<div class="container">
    <form action="/users/login" method="post" enctype="x-www-form-urlencoded">
        <!-- 用户名 -->
        <div class="form-group row">
            <label for="username" class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名">
            </div>
        </div>
        <!-- 密码 -->
        <div class="form-group row">
            <label for="password" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">登录</button>
    </form>
</div>



<%- include ../include/footer.html %>
<!-- 尾部 -->
